<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>My Website -About</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
        </head>
        <body>
            <div id="body">
                <img id="leftpic" src="{{ url_for('static', filename='flower2.dms')}}" alt="A picture of a flower">
                <div id="content">
                    <h1>Danielle Morgan</h1>
                    <p>Passionate, diligent, determined and trustworthy are words that describe me. I genuinely believe that I have a great sense of humor but others may strongly disagree. Currently, I'm pursuing a degree in actuarial science due to my love of mathematics. I have also developed a deep appreciation for computing at UWI. After acquiring my degree, I intend to continue programming while studying and sitting the various examinations needed to become a fellow, a qualified actuary. Hopefully, I can find a job that will incorporate both actuarial science and computing.</p>
                 </div>
                 <img id="rightpic" src="{{ url_for('static', filename='flower2.dms')}}" alt="A picture of a flower">
            </div>
        </body>          
    </html>